body {
  background-color: #003459;
}

a {
  text-decoration: none;
}

.centered {
  float: middle;
  clear:both;
  margin:auto;

}

.head {
  border-bottom: 6px #D56062 solid;
  margin-bottom: 15px;
  background-color: #E8E8E8;
}

.gfont1 {
  font-family: 'Quicksand', sans-serif;
  color: #00487C;

}
.gfont2 {
  font-family: 'Lobster', cursive;
  color: #00487C;

}
.gfont3 {
  font-family: 'Cinzel', serif;
  color: #00487C;

}
.gfont4 {
  font-family: 'Old Standard TT', serif;
  color: #00487C;
}

.quickQuote {
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin: 10px 0px 10px 0px

}

.miscData {
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin: 10px 0px 10px 0px

}

.card {
  margin-bottom: 10px;
  box-shadow: 1px 1px 5px
}

#cardDisp {
  margin-top: 10px;
}

.bigGains {
  border-top: solid black 3px;
  margin-top: 5px;
  
}

.bigLose {
  border-top: solid black 3px;
  margin-top: 5px;
  
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



