body {
  background-color: #161616;
  color: #E8E0DC;
}

a {
  text-decoration: none;
}

.ticker {
  background-color: #020300;
  height: 35px;
}


.head {
  border-bottom: 4px #FF9F1C solid;
  /* margin-bottom: 15px; */
  background-color: #252625;
}

.menu {
  /* border-top:1px solid red; */
}

.gfont1 {
  font-family: 'Quicksand', sans-serif;
  color: #00487C;

}
.gfont2 {
  font-family: 'Lobster', cursive;
  background: linear-gradient(90deg, rgb(197, 118, 0) 0%, rgb(255, 235, 60) 77%);  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid black;
  /* text-shadow: -3px -0px 4px #006; */
 }
.gfont3 {
  font-family: 'Cinzel', serif;
  color: #00487C;

}
.gfont4 {
  font-family: 'Old Standard TT', serif;
  color: #00487C;
}

input#coin,#stockInput,#watchInput {
  border-radius: 50px;
}

.quickQuote {
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.miscData {
  background-color: #3A3837;
  border-radius: 5px;
  box-shadow: 2px 2px 5px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.wrapper {
  box-shadow: 2px 2px 8px black;
  background-color: #3A3837;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.card-wrapper{
  box-shadow: 2px 2px 8px black;
  background-color: clear;
  border: 1px solid #FF9F1C;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.cardDispContainer {
  margin: 10px 0px 10px 0px
}


.data-panel-text{
  line-height: .35em;
  margin: 10px 0px 10px 0px
}

.news-panel-text{
  line-height: .75em;
  margin: 10px 0px 10px 0px;
  border-top: 1px solid #FF9F1C;
  padding-top: 10px;
}

input.alertPriceInput {
  border: none;
  border-bottom: 1px solid darkgrey;
  background-color: #3A3837;
}


.bigGains {
  border-top: solid #FF9F1C 2px;
  margin-top: 5px;
  
}

.bigLose {
  border-top: solid #FF9F1C 2px;
  margin-top: 5px;
  
}

.loader {
  margin: 10px 0px 10px 0px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


/* ALERT SYSTEM*/
.alerts-table{
  width:100%;
}
.crypto-alerts-table{
  width:100%;
}
.alertInput{
  padding-top: 5px;
  padding-bottom: 5px;
}




/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



/* ## LOGIN FORM ##*/

.login-form input {
  margin: 0 auto;
  margin-bottom: 30px;
  display: block;
  border: none;
  background: none;
  border-bottom: #FF9F1C 1px solid;
  font-size: 1.5em;
  text-align: center;
  color: #dcdcdc
}

.login-form button {
  border: none;
  background: none;
  color: rgb(184, 114, 18);
  font-size: 1.5rem;
}

#logOut button {
  border: none;
  background: none;
  color: rgb(184, 114, 18);

}



.login-form {
  margin-top: 10%;
}

.credError {
  color: darkred;
  visibility: hidden;
}

.loginStatus{
  visibility: hidden;
}

.userVerified{


}

.list-item {
  margin-right: 5px;
}

.listDisp {
  margin-top: 5px;
}


/* #### NEWS #### */

.news-card {
  padding: 5px;

}

.news-card-title {
  margin-bottom: 5px;
}